.pedidos {
  padding: 32px;
}

.pedidos h1 {
  margin-top: 0;
}

.pedidos .pedido {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #002F52;
  padding: 12px;
}

.botao-exluir {
  background-color: red;
  color: white;
  font-size: 20px;
  cursor: pointer;
  content: 75px 24px;
  padding: 16px 32px;
  border: none;
}

.botao-exluir:hover {
  background-color: rgb(229, 55, 16);
}